/* 
    Document   : Main
    Created on : Apr 8, 2012, 10:50:17 AM
    Author     : olmozavala
    Description:
        Purpose of the stylesheet follows.
*/

body{
	/*background-color: #8A0E0E;*/
	/*background-color: blue;*/
	/*background-image:url('../Images/background.jpg');*/
}

.mainTitle{
	font-size: 28px; 
	color: appworkspace;

	text-align: center;
	margin: 10px;
	padding: 0px;
}

.subTitle{
	color: #AE976E;
	font-size: 24px; 
	margin: 0px;
	padding: 0px;
}

.content{
	/*background-color: white;*/
	height: 100%;
}

table.mainTable{ background-color:white; }

td.evenrow{
	background-color: antiquewhite;
	padding-left: 13px;
	padding-top: 5px;
	padding-right: 13px;
}

td.oddrow{
	background-color: appworkspace;
	padding-left: 13px;
	padding-top: 5px;
	padding-right: 13px;
}

input[type=text]{
	max-width: 300px;
}

#main_table_div{
}

#graph_div{
	min-height: 600px;
}

#new_player{
	background-color: transparent;
}

.form-group{
	padding: 10px;
}
